.mySwiper {
    padding: 35px;
}
.swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 10px 0;
}

.swiper-pagination-bullet-active {
    background-color: #fe5432;
}